<mat-card>
    <form (submit)="onSubmit(logInform)" #logInform="ngForm">
        <mat-card-title>Please LogIn</mat-card-title>
        <mat-form-field>
            <mat-label>Please Enter valid email:</mat-label>
            <input type="email" matInput placeholder="$1000 " name="email" ngModel required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Please Enter The Password:</mat-label>
            <input type="password" matInput placeholder="$1000 " name="password" ngModel required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Log In</button>
    </form>
</mat-card>